<%- include('./partials/boilerplate') %>

<h1>The Cases Diary</h1>

<h2>Login</h2>

<form method="GET" action="/home">
    <input name='username' type='text' placeholder='Username' required/>
    <input name='password' type='text' placeholder='Password' required/>
    <input type='submit' value='Login'/>
</form>
<!-- <input type='submit' value='Sign Up'/> -->
<a href="auth/register">Sign-up</a>

<%- include('./partials/end') %>