<%- include('../partials/boilerplate') %>


<h1>Sign up</h1>

<form method="POST" action="/">
    <input name='username' type='text' placeholder='Username' required/>
    <input name='password' type='password' placeholder='Password' required/>
    <input name='password' type='password' placeholder='Confirm Password' required/>
    <input type='submit' value='Register'/>
</form>

<%- include('../partials/end') %>