<%- include('./partials/boilerplate') %>


<h1>Sign up</h1>

<form>
    <input name='username' type='text' placeholder='Username' required/>
    <input name='password' type='text' placeholder='Password' required/>
    <input name='password' type='text' placeholder='Confirm Password' required/>
    <input type='submit' value='Register'/>
</form>

<%- include('./partials/end') %>