<% const Title1 = 

<%- include('./partials/boilerplate') %>

<h1>Home</h1>

<h2>Cases</h2>

<div>
    <li><a href="/cases/:id/1"></a></li>
    <li><a href="/cases/:id/2"></a></li>
    <li><a href="/cases/:id/3"></a></li>
</div>

<%- include('./partials/end') %>